#first{
    width: 40px;
    margin: 20px;
    padding: 20px;
    background-color: aqua;
    border-radius: 15px;
    border: 2px dashed red;
}
#second{
    padding: 10px;
    margin-left: 106px;
    background-color: green;
    width: 75px;
    border-radius: 10px;    
}
#second>h5{
    background-color: darkgreen;
    width: 25px;
    padding: 25px;
    margin: auto;
    border-radius: 10px;
    color: green;
}
#third{
    width: 150px;
    background-color: yellow;
    padding: 35px;
    margin: 15px;
    margin-left: 206px;
    border: 3px dashed brown ;
    border-radius: 15px;

}
#third>h3{
    color: red; 
    margin-bottom: 0px;  
    margin: auto; 
}
#third>h5{
    padding: 20px;
    margin: auto;
    background-color: pink;
    margin-top: 0px;
    width: 50px;
    border: 6px solid black;
    border-radius: 20px;
}
#fourth{
    background-color: rgb(137, 222, 137);
    width: 90px;
    text-align: center;
    padding: 10px;
    border: 7px solid rgb(10, 217, 10);
    border-radius: 14px;
    margin-left: 426px;
}
#fifth{
    background-color: rgb(245, 216, 231);
    width: 90px;
    text-align: center;
    color: white;
    padding: 10px;
    border: 7px solid rgb(201, 204, 242);
    border-radius: 14px;
    margin-left: 526px;
    margin-top: 5px;
}
#sixth{
    background-color: rgb(245, 216, 231);
    width: 90px;
    text-align: center;
    color: rgb(13, 11, 11);
    padding: 10px;
    border: 7px solid rgb(0, 0, 1);
    border-radius: 14px;
    margin-left: 626px;
    margin-top: 5px;
}